.flows_DSN-NBS-198.json.backup
[{"id":"513af9e.e12a408","type":"tab","label":"My charts","disabled":false,"info":""},{"id":"1ab8d280.df859e","type":"tab","label":"Example charts","disabled":false,"info":""},{"id":"a9868e7b.ca248","type":"ui_tab","z":"513af9e.e12a408","name":"TCC","icon":"dashboard","order":1},{"id":"6bdeece0.72aef4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#800080","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#800080","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#cc00cc","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#800080","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}}},"site":{"name":"Node-RED TCC Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":15,"py":15}}},{"id":"75e2ff89.96b75","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"tcc","tz":""},{"id":"b57fd8f4.d58f08","type":"ui_group","z":"","name":"Usuários","tab":"a9868e7b.ca248","order":3,"disp":true,"width":"6","collapse":true},{"id":"be83fd53.e193e","type":"ui_group","z":"","name":"Produtos","tab":"a9868e7b.ca248","order":4,"disp":true,"width":"6","collapse":true},{"id":"d802a510.e43698","type":"ui_tab","z":"","name":"Sobre","icon":"dashboard","order":2},{"id":"bcc14c57.6f025","type":"ui_group","z":"","name":"Sobre TCC","tab":"d802a510.e43698","order":1,"disp":true,"width":"12","collapse":false},{"id":"48402bc0.dae554","type":"ui_group","z":"","name":"Lines","tab":"a9868e7b.ca248","order":1,"disp":true,"width":"6","collapse":false},{"id":"27e5e658.bae64a","type":"ui_group","z":"","name":"Charts","tab":"c2e50c1b.9fd6f","order":2,"disp":false,"width":"6"},{"id":"2f5f9a4c.a36896","type":"ui_group","z":"","name":"Inputs","tab":"c2e50c1b.9fd6f","order":1,"disp":false,"width":"6"},{"id":"e75f76c5.911b98","type":"ui_group","z":"","name":"Group 3","tab":"c2e50c1b.9fd6f","order":3,"disp":false,"width":"6"},{"id":"c2e50c1b.9fd6f","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"cec6073c.c3d528","type":"ui_group","z":"","name":"Bars","tab":"a9868e7b.ca248","order":2,"disp":true,"width":"6","collapse":false},{"id":"925d73dc.66a24","type":"mysql","z":"513af9e.e12a408","mydb":"75e2ff89.96b75","name":"","x":430,"y":40,"wires":[["49233942.eb4fd8","e5eccf0e.7b1dc"]]},{"id":"2507420d.d7ff1e","type":"inject","z":"513af9e.e12a408","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":40,"wires":[["ea2a0d1a.0fca9"]]},{"id":"ea2a0d1a.0fca9","type":"function","z":"513af9e.e12a408","name":"","func":"msg.topic = \"SELECT * FROM users LIMIT 100\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["925d73dc.66a24"]]},{"id":"e5eccf0e.7b1dc","type":"debug","z":"513af9e.e12a408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":40,"wires":[]},{"id":"49233942.eb4fd8","type":"ui_template","z":"513af9e.e12a408","group":"b57fd8f4.d58f08","name":"","order":0,"width":"6","height":"4","format":"<table>\n    <tbody>\n        <tr ng-repeat=\"user in msg.payload\">\n            <td style=\"border-top: 1px solid #dddddd; padding: 5px 0px\"><strong>{{ user.id}}</strong> - <span style=\"color: #999999\">{{ user.name }}</span> [{{ user.email }}]</td>\n        </tr>\n    </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":80,"wires":[[]]},{"id":"430ff6b0.4f1098","type":"ui_template","z":"513af9e.e12a408","group":"be83fd53.e193e","name":"","order":0,"width":"6","height":"3","format":"<div id=\"produtos\">\n    <div ng-repeat=\"produto in msg.payload\">\n        <strong>{{ produto.id}}</strong> - <span style=\"color: #999999\">{{ produto.nome }}</span>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":180,"wires":[[]]},{"id":"8369d740.fc49a8","type":"inject","z":"513af9e.e12a408","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":140,"wires":[["3756b83e.e58898"]]},{"id":"3756b83e.e58898","type":"function","z":"513af9e.e12a408","name":"","func":"msg.topic = \"SELECT * FROM produtos LIMIT 100\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["942fc234.c97d8"]]},{"id":"942fc234.c97d8","type":"mysql","z":"513af9e.e12a408","mydb":"75e2ff89.96b75","name":"","x":430,"y":140,"wires":[["5a432d56.fa8e44","430ff6b0.4f1098"]]},{"id":"5a432d56.fa8e44","type":"debug","z":"513af9e.e12a408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":140,"wires":[]},{"id":"7ceda608.5741a8","type":"inject","z":"513af9e.e12a408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":340,"wires":[["1c39db2e.dcd215"]]},{"id":"1c39db2e.dcd215","type":"function","z":"513af9e.e12a408","name":"","func":"msg.name = \"My chart\";\nmsg.topic = \"SELECT date(created_at) as 'x', count(nome) as 'y' FROM `listas` GROUP BY date(created_at)\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["ad50d358.a103"]]},{"id":"ad50d358.a103","type":"mysql","z":"513af9e.e12a408","mydb":"75e2ff89.96b75","name":"","x":450,"y":340,"wires":[["fb361ec8.9410b"]]},{"id":"e785cc74.a0d82","type":"debug","z":"513af9e.e12a408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":400,"wires":[]},{"id":"fb361ec8.9410b","type":"function","z":"513af9e.e12a408","name":"","func":"var series = ['Listas', 'Removidas'];\nvar data = [\n    msg.payload,\n    [\n        {x: '2017-11-24T02:00:00.000Z',y: 4},\n        {x: '2017-11-25T02:00:00.000Z',y: 5},\n        {x: '2017-11-26T02:00:00.000Z',y: 7},\n        {x: '2017-11-27T02:00:00.000Z',y: 3},\n        {x: '2017-11-28T02:00:00.000Z',y: 5},\n    ]    \n];\n\nmsg.payload = [{\n    series: series,\n    data: data\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["e785cc74.a0d82","a9b39bde.54cdc8"]],"outputLabels":["msg"]},{"id":"a9b39bde.54cdc8","type":"ui_chart","z":"513af9e.e12a408","name":"","group":"48402bc0.dae554","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#0080ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":440,"wires":[[],[]]},{"id":"98257f10.9ee19","type":"inject","z":"513af9e.e12a408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["84aad385.5937f"]]},{"id":"84aad385.5937f","type":"ui_template","z":"513af9e.e12a408","group":"bcc14c57.6f025","name":"","order":0,"width":0,"height":0,"format":"<div class=\"container\">\n    <div class=\"row\">\n        <div class=\"col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3\">\n            <div class=\"panel panel-default\">\n                <div class=\"panel-heading\">Sobre</div>\n                <div class=\"panel-body\">\n                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet urna lorem. Integer sollicitudin ullamcorper volutpat. Maecenas id tortor pulvinar, venenatis turpis a, semper quam. Aenean suscipit vitae quam consectetur porta. Maecenas dui nibh, interdum eget condimentum vitae, vulputate at arcu. Mauris ornare orci vitae libero viverra, nec sagittis urna interdum. Aenean interdum ligula a nibh convallis vehicula. Mauris cursus quis dui et accumsan. Phasellus ullamcorper, nulla vitae dapibus vehicula, purus justo molestie velit, eu accumsan libero tortor consequat lorem. Phasellus ipsum ex, auctor sit amet vulputate vel, aliquet dapibus justo. Proin malesuada molestie neque a ultrices. Donec cursus diam pellentesque tortor dictum luctus. Cras velit purus, lobortis ac pretium sed, consequat eget magna. Fusce ut leo varius sem elementum ultricies. Aliquam semper sodales tortor et ultrices.</p>\n                    <p>Nam suscipit lorem arcu, vel facilisis augue euismod vel. Ut consectetur felis sit amet luctus volutpat. Morbi luctus id turpis in gravida. Donec quis nibh in justo semper volutpat. Curabitur ac ipsum quis velit vestibulum dictum. Donec lobortis dolor sed libero finibus, nec pretium nisi ullamcorper. Sed convallis facilisis magna, consequat eleifend diam accumsan eget. Fusce auctor, mauris in blandit dictum, lectus tellus maximus sapien, eu elementum velit nibh eget purus. Nam vehicula iaculis mauris aliquet ultrices. Sed fringilla ligula eu tellus porta, ut accumsan lectus placerat. Sed in justo sodales, varius justo at, pulvinar sapien.</p>\n                    <p>Nam non dapibus mauris. Ut sagittis ut nunc non aliquam. Sed mi odio, vulputate eget metus vitae, venenatis accumsan turpis. Aenean molestie magna non finibus rhoncus. Phasellus ut consequat metus. Integer facilisis, augue consectetur ultricies ultrices, ex sapien ullamcorper risus, vitae consequat justo lectus nec nibh. Praesent semper arcu in ligula mollis, sed efficitur dolor finibus. Sed et augue eleifend, mollis nibh in, luctus sem. Maecenas non nisi elementum, accumsan enim a, lacinia sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque pharetra dapibus bibendum. Etiam eu metus vel justo tempus blandit ac ut leo. Mauris tempus consequat odio. Nullam in orci augue.</p>\n                    <p>Praesent ornare id nulla sit amet faucibus. Etiam a metus augue. Nunc vitae nunc lectus. Aliquam eu feugiat lectus. Vivamus dui erat, vulputate sed auctor ut, rutrum gravida mi. Nullam a risus euismod est feugiat blandit in vel urna. Quisque quis porta nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla semper urna quis sollicitudin tincidunt. Ut sed lobortis tortor, nec iaculis libero. Mauris id lacus non tellus gravida consequat vitae malesuada lectus. Vivamus placerat molestie tellus. Donec condimentum, nisi malesuada gravida eleifend, ex tellus luctus nulla, eget porta magna sem in ex. Aenean vitae suscipit ex. Curabitur porttitor libero sed lacinia facilisis. Donec vel tortor tincidunt, auctor eros vel, maximus est.</p>\n                    <p>Quisque imperdiet dui laoreet neque molestie varius. Donec purus dolor, maximus blandit dui in, consectetur cursus tellus. In sit amet dictum ante, vitae ullamcorper lacus. Sed nibh sapien, tempor sit amet tellus vel, rhoncus tristique nisi. Cras quis blandit lacus, eget iaculis mi. Nullam varius orci vel felis ultricies, nec tempus risus interdum. Nunc quis diam eget orci lobortis faucibus in eget nibh.</p>\n                    <p>Donec diam sem, egestas vel semper eget, sodales vel erat. Sed lobortis vitae tortor quis vulputate. Proin et convallis purus. Nullam dapibus semper magna ut finibus. Vestibulum elit nibh, fringilla ut fringilla sit amet, pharetra vel nisi. Fusce in ligula congue, ullamcorper ex quis, posuere ipsum. Nam odio dolor, tincidunt at feugiat eget, pretium et purus. Nullam vel mattis odio. Morbi sagittis magna aliquam, pellentesque nisi vitae, placerat nisl. Proin non eros dolor. Vestibulum vehicula lorem purus, a consectetur lectus efficitur et. Phasellus tempus mollis dui id auctor. Proin suscipit sollicitudin feugiat. Praesent bibendum iaculis nisi quis mollis.</p>\n                    <a href=\"http://pt.lipsum.com/feed/html\">Lorem Ipsum</a>\n                </div>\n            </div>\n        </div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":240,"wires":[[]]},{"id":"179f1e69.ab5c32","type":"function","z":"1ab8d280.df859e","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["fcb337f.bc008c8","c23940ba.d6278","2d010065.9ab09","2b3464dd.53d34c"]]},{"id":"fcb337f.bc008c8","type":"ui_chart","z":"1ab8d280.df859e","name":"","group":"27e5e658.bae64a","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":120,"wires":[[],[]]},{"id":"3a01f8b8.7b7698","type":"function","z":"1ab8d280.df859e","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["fcb337f.bc008c8"]]},{"id":"9da5e920.b5e0e8","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":220,"wires":[["3a01f8b8.7b7698"]]},{"id":"c23940ba.d6278","type":"ui_chart","z":"1ab8d280.df859e","name":"","group":"27e5e658.bae64a","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":300,"wires":[[],[]]},{"id":"1ac1120c.1caf3e","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":380,"wires":[["179f1e69.ab5c32"]]},{"id":"d14d41ed.309a4","type":"inject","z":"1ab8d280.df859e","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":580,"wires":[["e089f706.2b7698"]]},{"id":"134e9ec7.378bd1","type":"function","z":"1ab8d280.df859e","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["fcb337f.bc008c8","c23940ba.d6278","2d010065.9ab09","2b3464dd.53d34c"]]},{"id":"4901b1f6.7ad15","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":420,"wires":[["134e9ec7.378bd1"]]},{"id":"284e0b21.048a94","type":"function","z":"1ab8d280.df859e","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["fcb337f.bc008c8"]]},{"id":"bb374668.0804e8","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":260,"wires":[["284e0b21.048a94"]]},{"id":"777a62c5.38b1cc","type":"function","z":"1ab8d280.df859e","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["2b3464dd.53d34c","c23940ba.d6278","fcb337f.bc008c8","a4acf374.0ccc2","16489d44.8014f3","2d010065.9ab09"]]},{"id":"2b3464dd.53d34c","type":"ui_chart","z":"1ab8d280.df859e","name":"pie chart","group":"27e5e658.bae64a","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":360,"wires":[[],[]]},{"id":"129d9594.cd1e4a","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":170,"y":620,"wires":[["777a62c5.38b1cc"]]},{"id":"42bdb73e.470ef8","type":"function","z":"1ab8d280.df859e","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["fcb337f.bc008c8"]]},{"id":"593bc9ab.e38518","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":300,"wires":[["42bdb73e.470ef8"]]},{"id":"1f485614.149c4a","type":"function","z":"1ab8d280.df859e","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["fcb337f.bc008c8"]]},{"id":"68fdc147.b6da5","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":340,"wires":[["1f485614.149c4a"]]},{"id":"76917614.544928","type":"function","z":"1ab8d280.df859e","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["fcb337f.bc008c8","c23940ba.d6278","2b3464dd.53d34c","a4acf374.0ccc2","16489d44.8014f3","2d010065.9ab09"]]},{"id":"79c37eda.a4456","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":540,"wires":[["76917614.544928"]]},{"id":"b6595292.b1c82","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":180,"y":660,"wires":[["a5ba8c08.10c07"]]},{"id":"a5ba8c08.10c07","type":"function","z":"1ab8d280.df859e","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["2b3464dd.53d34c","c23940ba.d6278","16489d44.8014f3","a4acf374.0ccc2","fcb337f.bc008c8","2d010065.9ab09"]]},{"id":"4d80ecb8.5535a4","type":"function","z":"1ab8d280.df859e","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["c23940ba.d6278","2b3464dd.53d34c","fcb337f.bc008c8","2d010065.9ab09"]]},{"id":"db43448b.200098","type":"inject","z":"1ab8d280.df859e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["4d80ecb8.5535a4"]]},{"id":"1d58b6e7.a596b9","type":"function","z":"1ab8d280.df859e","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["c23940ba.d6278","2b3464dd.53d34c","fcb337f.bc008c8","2d010065.9ab09"]]},{"id":"b7e01a99.7456e8","type":"inject","z":"1ab8d280.df859e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":140,"wires":[["1d58b6e7.a596b9"]]},{"id":"cc14d26e.f40af","type":"function","z":"1ab8d280.df859e","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["c23940ba.d6278","a4acf374.0ccc2","16489d44.8014f3","fcb337f.bc008c8","2d010065.9ab09","2b3464dd.53d34c"]]},{"id":"8687d959.ee9168","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":460,"wires":[["cc14d26e.f40af"]]},{"id":"140539b7.8a52c6","type":"function","z":"1ab8d280.df859e","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["c23940ba.d6278","fcb337f.bc008c8","16489d44.8014f3","a4acf374.0ccc2","2d010065.9ab09","2b3464dd.53d34c"]]},{"id":"519f66bf.a04a08","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":500,"wires":[["140539b7.8a52c6"]]},{"id":"2d010065.9ab09","type":"ui_chart","z":"1ab8d280.df859e","name":"","group":"e75f76c5.911b98","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":240,"wires":[[],[]]},{"id":"a4acf374.0ccc2","type":"ui_chart","z":"1ab8d280.df859e","name":"","group":"e75f76c5.911b98","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":480,"wires":[[],[]]},{"id":"16489d44.8014f3","type":"ui_chart","z":"1ab8d280.df859e","name":"","group":"e75f76c5.911b98","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":540,"wires":[[],[]]},{"id":"bc93a09d.9bd8a","type":"function","z":"1ab8d280.df859e","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["2b3464dd.53d34c","c23940ba.d6278","fcb337f.bc008c8","2d010065.9ab09"]]},{"id":"aa82b5ee.508198","type":"inject","z":"1ab8d280.df859e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":100,"wires":[["bc93a09d.9bd8a"]]},{"id":"88bf15c.5f5f0e8","type":"ui_button","z":"1ab8d280.df859e","name":"","group":"2f5f9a4c.a36896","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":300,"y":60,"wires":[["16489d44.8014f3","a4acf374.0ccc2","2b3464dd.53d34c","2d010065.9ab09","c23940ba.d6278","fcb337f.bc008c8"]]},{"id":"e089f706.2b7698","type":"random","z":"1ab8d280.df859e","name":"","low":"1","high":"10000000","inte":"true","x":340,"y":580,"wires":[["fcb337f.bc008c8"]]},{"id":"e339e48e.c81a38","type":"inject","z":"513af9e.e12a408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":520,"wires":[["84124dc5.09161"]]},{"id":"84124dc5.09161","type":"function","z":"513af9e.e12a408","name":"","func":"msg.topic = \"SELECT a.nome as 'nome', count(b.produto_id) as 'qtd' FROM `listas` a, `itens` b WHERE a.id = b.lista_id GROUP BY b.lista_id\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["a26c7e25.14495"]]},{"id":"a26c7e25.14495","type":"mysql","z":"513af9e.e12a408","mydb":"75e2ff89.96b75","name":"","x":450,"y":520,"wires":[["83afff34.ba389"]]},{"id":"83afff34.ba389","type":"function","z":"513af9e.e12a408","name":"","func":"var series = [];\nvar labels = [\"Qtd. de itens\"];\nvar data = [];\n\nfor(i=0; i < msg.payload.length; i++) {\n    series.push(msg.payload[i].nome);\n    data.push([msg.payload[i].qtd]);\n}\n\nmsg.payload = [{\n    series: series,\n    data: data,\n    labels: labels\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["b57eb01d.8d5cd","8bfa576f.fe2968"]],"outputLabels":["msg"]},{"id":"b57eb01d.8d5cd","type":"debug","z":"513af9e.e12a408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":580,"wires":[]},{"id":"8bfa576f.fe2968","type":"ui_chart","z":"513af9e.e12a408","name":"","group":"cec6073c.c3d528","order":0,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":620,"wires":[[],[]]}]