start
[{"id":"bd60a43f.cb87d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec9fba4e.f7cb98","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d4ac57cf.39d148","type":"http in","z":"bd60a43f.cb87d8","name":"getPaises","url":"/paises","method":"get","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["d7631a45.5b1a38"]]},{"id":"d7631a45.5b1a38","type":"http request","z":"bd60a43f.cb87d8","name":"get from api","method":"GET","ret":"txt","url":"https://restcountries.eu/rest/v2/all","tls":"","x":170,"y":80,"wires":[["65a7b001.c73a3"]]},{"id":"2c5604fd.1a9dfc","type":"debug","z":"bd60a43f.cb87d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":120,"wires":[]},{"id":"7ac72a48.c877e4","type":"http response","z":"bd60a43f.cb87d8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":230,"y":160,"wires":[]},{"id":"65a7b001.c73a3","type":"function","z":"bd60a43f.cb87d8","name":"","func":"var msgTest = JSON.parse(msg.payload);\nvar newTest = [];\n\nfor(i=0; i < msgTest.length; i++){\n    newTest.push({nome: msgTest[i].name});\n}\n\nmsg.payload = JSON.stringify(newTest);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":120,"wires":[["2c5604fd.1a9dfc","7ac72a48.c877e4"]]},{"id":"b64aacc5.98a4a","type":"http in","z":"ec9fba4e.f7cb98","name":"getPaisByName","url":"/pais","method":"get","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["743f01d0.b6638"]]},{"id":"743f01d0.b6638","type":"http request","z":"ec9fba4e.f7cb98","name":"get from api","method":"GET","ret":"txt","url":"https://restcountries.eu/rest/v2/all","tls":"","x":170,"y":80,"wires":[["c32dff49.fb5b5"]]},{"id":"20c6a8f1.8f88e8","type":"debug","z":"ec9fba4e.f7cb98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":120,"wires":[]},{"id":"c1fe2659.94c568","type":"http response","z":"ec9fba4e.f7cb98","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":230,"y":160,"wires":[]},{"id":"c32dff49.fb5b5","type":"function","z":"ec9fba4e.f7cb98","name":"","func":"var msgTest = JSON.parse(msg.payload);\nvar newTest = [];\n\nfor(i=0; i < msgTest.length; i++){\n    if(msg.req.query.nome.toLowerCase() === msgTest[i].name.toLowerCase())\n        newTest.push({nome: msgTest[i].name});\n}\n\nmsg.payload = JSON.stringify(newTest);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":120,"wires":[["20c6a8f1.8f88e8","c1fe2659.94c568"]]}]